<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Title</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <!-- [TBU] Add application data -->
    <!-- [TBU] Add a link to send to edit page -->
    <!-- [TBU] Add a button (form) to delete an application -->
  </body>
</html>
